/* stylelint-disable selector-class-pattern */
:root {
 --bg-color: #000;
 --text-color: #fff;
 --main-color: #42B6FF;
 --accent-color: #FF2E47;
}
   
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}


/* Header */
.burger__header {
    border-bottom: solid 5px var(--accent-color);
}

.burger__nav {
    background-color: var(--bg-color);
}

/* Main */
.up-arrow-btn {
    background: url('../images/main/up-arrow-icon--dark.svg') no-repeat;
    background-size: cover;
}

/* Footer */