:root {
 --bg-color: #fff;
 --text-color: #104993;
 --main-color: #42B6FF;
 --accent-color: #FF2E47;
}

.header {
    background-color: var(--main-color);
    color: var(--bg-color);
    border-bottom: solid 5px var(--accent-color);
}
   
.main {
    color: var(--text-color);
}