/* stylelint-disable selector-class-pattern */
@import url('media-queries/desktop-1920px.css');
@import url('media-queries/laptop-1200px.css');
@import url('media-queries/laptop-1000px.css');
@import url('media-queries/tablet-768px.css');
@import url('media-queries/mobile-m-480px.css');
@import url('media-queries/mobile-s-320px.css');

:root {
    --main-color: #139FEC;
    --accent-color: #FF2E47;
    --code-string-color: #B32032;
}

body {
    font-family: Roboto, sans-serif; 
}

a:hover, button:hover {
    cursor: pointer;
}

.container {
    margin: 0 auto;
}

.overflow-hidden {
    overflow: hidden;
}

/* Burger Menu */
.burger__nav {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin-top: -100%;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.5s;
}

.burger__header {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}

.burger__list {
    margin-top: 20px;
    margin-left: 50px;
}

.burger__li {
    margin: 25px 0;
}

.burger__anchor {
    display: inline-block;
    padding: 6px 13px;
}

/* Header */
.header__container {
    display: flex;
    justify-content: space-between;
}

.header__nav {
    padding-top: 4px;
    margin-left: 20px;
    font-weight: 400;
}

.header__list {
    display: flex;
}

.header__anchor {
    padding: 6px 13px;
}

.header-btns-container {
    display: flex;
    align-items: center;
}

.lang-switcher {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-weight: 700;
}

.lang-switcher__rectangle {
    display: inline-flex;
    width: 50px;
    height: 23px;
    padding-top: 4px;
    border-radius: 20px;
    margin: 0 10px;
    background-color: #fff;
}

.lang-switcher__circle {
    position: relative;
    left: 7px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--main-color);
}

/* Main */
.up-arrow-btn {
    position: fixed;
    top: 60%;
    right: 5%;
}

/* First Section */

.first-section {
    display: grid;
    margin-top: 50px;
}

.first-section__heading {
    font-weight: 900;
    grid-area: heading;
    line-height: normal;
}

.first-section__paragraph {
    grid-area: text;
}

.avatar-img {
    min-width: 130px;
    grid-area: photo;
}

.first-section__btn {
    border-radius: 35px;
    background-color: var(--main-color);
    color: #fff;
    font-weight: 600;
    grid-area: button;
}

/* Section */


.section__heading {
    font-weight: 700;
    line-height: normal;
}

.bullet-img {
    display: inline-block;
}

/* About */


/* Education&Skills */
.education-skills-wrapper {
    display: grid;
}

.education {
    grid-area: education;
}

.ed-li {
    padding-left: 20px;
    margin-bottom: 15px;
    background: url('../images/main/bullet-icon.svg') no-repeat 0 50%;
    line-height: 125%;
}


/* Courses */
.courses {
    grid-area: courses;
}

.courses__li {
    display: grid;
    grid-template-columns: 0.75fr 2fr;
    line-height: 125%;
}

.courses__paragraph {
    display: inline-block;
}

/* Skills */
.skills {
    grid-area: skills;
}

/* Projects */
.projects-wrapper {
    display: grid;
    place-items: center;
}

.project {
    display: grid;
}

.project__name {
    display: inline-block;
}

.project__techs {
    display: inline-flex;
}

.techs__item {
    border: solid 1px var(--accent-color);
    border-radius: 10px;
    color: var(--accent-color);
    font-size: 12px;
}

.project1 {
    grid-area: project1;
}

.project2 {
    grid-area: project2;
}

.project3 {
    grid-area: project3;
}

.project4 {
    grid-area: project4;
}

.project5 {
    grid-area: project5;
}

.project6 {
    grid-area: project6;
}


/* Code */
.code {
    border-radius: 10px;
    background-color: #E4EBF1;
    color: #104993;
    font-family: monospace;
}

.span--main-color {
    color: var(--main-color);
}

.span--accent-color {
    color: var(--accent-color);    
}

.span--code-string-color {
    color: var(--code-string-color);
}

/* Languages */

/* Contacts */

/* Footer */

.footer__container {
    display: grid;
}

.footer__copyright {
    grid-area: footer__copyright;
}

.footer__contacts {
    display: flex;
    grid-area: footer__contacts;
}
