/* stylelint-disable selector-class-pattern */
@media screen and (min-width: 1001px) {
    body {
        font-size: 18px;
    }

    h1 {
        font-size: 36px;

        /* width: 484px; */
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    /* Header */
    .header {
        height: 112px;
        font-size: 20px;
    }
    
    .burger__btn, .burger__nav{
        display: none;
    }

    .lang-switcher {
        margin-left: 25px;
    }
    
    /* Main */
    .first-section {
        grid-template-areas: 
        "heading photo"
        "text photo"
        "button photo";
    }
    
    .first-section__paragraph {
        margin-top: 15px;
    }

    .first-section__btn {        
    width: 150px;
    height: 60px;
    margin-top: 30px;
    }

    .first-section__heading {
        font-size: 36px;
    }

    .main__section{
        width: 732px;
        margin-left: 200px;
    }

    .section {
        margin-top: 45px;
    }

    .section__heading {
        font-size: 26px;
    }

    .education-skills-wrapper {
        width: 718px;
        grid-template: 
        'education education'
        'courses skills';
    }

    #projects {
        width: 1200px;
    }

    #projects .section__heading {
        margin-left: 530px;
    }

    .projects-wrapper {
        grid-template: 
        'project1 project2 project3'
        'project4 project5 project6';
    }

    /* Footer */
}