/* stylelint-disable selector-class-pattern */
@media screen and (min-width: 1001px)  and (max-width: 1199px) {
    body {
        font-size: 18px;
    }

    .container {
        padding: 0 20px;
    }

    /* Header */
    .header {
        height: 117px;
        padding-top: 30px;
    }
            
    .theme-switcher {
        width: 40px;
        height: 40px;
        background-image: url('../../images/header/theme-switch-icon-large-40px-40px--light.svg');
        transition: all 0.5s ease;
    }
    
    .theme-switcher:hover {
        background-image: url('../../images/header/theme-switch-icon-large-40px-40px--dark.svg')
    }
  
    .burger__btn, .burger__nav{
        display: none;
    }

    .lang-switcher {
        margin-left: 25px;
    }
    
    /* Main */
    .up-arrow-btn {
        width: 50px;
        height: 50px;
    }

    .first-section {
        grid-template-areas: 
            "heading photo"
            "text photo"
            "button photo";
    }
    
    .first-section__heading {
        font-size: 36px;
    }

    .first-section__paragraph {
        margin-top: 15px;
    }

    .first-section__btn {        
        width: 150px;
        height: 60px;
        margin-top: 30px;
    }

    .main__section{
        max-width: 732px;
        margin-left: 10%;
    }

    .section {
        margin-top: 45px;
    }

    .section__heading {
        margin-bottom: 10px;
        font-size: 26px;
    }

    .education-skills-wrapper {
        max-width: 718px;
        grid-template: 
            'education education'
            'courses skills';
    }

    #projects .section__heading {
        margin-left: 42%;
    }

    .projects-wrapper {
        grid-template: 
            'project1 project2'
            'project3 project4'
            'project5 project6';
    }

    .code {
        padding: 30px 245px 35px 30px;
    }

    /* Footer */
    .footer {
        height: 205px;
        padding-top: 70px;
        margin-top: 160px;
    }

    .footer__container {
        grid-template: 
        'footer__copyright footer__contacts';
    }

    .footer__contacts {
        justify-self: right;
    }

    .footer__li:not(:last-child) {
      margin-right: 20px;
    }
    
}