/* stylelint-disable selector-class-pattern */
@media screen and (min-width: 769px) and (max-width: 1000px){
  /* Header */

  .header__nav {
    display: none;
  }
  
.burger__nav {
  display: block;
  visibility: hidden;
}

.burger__header  {
  padding: 40px 50px;
  font-size: 26px;
}

  /* Main */
  .first-section {
    grid-template-areas: 
    "heading photo"
    "text photo"
    "button photo";
}

  .first-section__btn {        
    width: 150px;
    height: 60px;
    margin-top: 30px;
    }

    
    .first-section__paragraph {
      margin-top: 15px;
  }
}