/* stylelint-disable selector-class-pattern */
@media screen and (max-width: 320px) {
  /* Header */

  .header__nav {
    display: none;
  }
  
.burger__nav{
  display: block;
  visibility: hidden;
}

.burger__header  {
  padding: 30px;
  font-size: 22px;
}

  /* Main */
  .first-section {
    grid-template-areas: 
    "heading heading"
    "photo ."
    "text  ."
    "button .";
  }

  .first-section__btn {
    width: 120px;
    height: 50px;
    margin-top: 20px;
  }
}