/* stylelint-disable selector-class-pattern */
@media screen and (min-width: 321px) and (max-width: 480px) {
  body {
  font-size: 18px;
}

  .container {
    padding: 0 15px;
  }
  
  /* Header */
  .header {
    height: 117px;
    padding-top: 30px;
  }

  .header__nav {
    display: none;
  }
  
.theme-switcher {
  width: 40px;
  height: 40px;
  background-image: url('../../images/header/theme-switch-icon-large-40px-40px--light.svg');
  transition: all 0.5s ease;
}

.theme-switcher:hover {
  background-image: url('../../images/header/theme-switch-icon-large-40px-40px--dark.svg')
}

  .burger__nav{
    display: block;
    visibility: hidden;
  }

  .burger__header  {
    padding: 40px 50px;
    font-size: 26px;
  }

  .lang-switcher {
    margin-left: 25px;
  }


  /* Main */
  .up-arrow-btn {
    width: 50px;
    height: 50px;
  }

  .first-section {
    grid-template-areas: 
      "heading heading"
      "text photo"
      "button photo";
  }

  .first-section__btn {        
    width: 150px;
    height: 60px;
    margin-top: 25px;
  }

  .first-section__heading {
    margin-bottom: 25px;
    font-size: 30px;
  }
    
  .first-section__paragraph {
    max-width: 162px;
  }

  .section {
    margin-top: 45px;
  }

  .section__heading {
    margin-bottom: 20px;
    font-size: 26px;
  }

  .education-skills-wrapper {
    grid-template: 
      'education'
      'courses'
      'skills';
  }

  .courses__li:not(:first-child) {
    margin-top: 20px;
  }

  .projects-wrapper {
    grid-template: 
      'project1'
      'project2'
      'project3'
      'project4'
      'project5'
      'project6';
  }

  
  #projects .section__heading {
    margin-left: 35%;
}


  .code {
    padding: 30px;
  }


  /* Footer */
  .footer {
    height: 205px;
    padding-top: 50px;
    margin-top: 160px;
  }

  .footer__container {
    grid-gap: 30px;
    grid-template: 
      'footer__contacts'
      'footer__copyright';
  }

  .footer__li:not(:last-child) {
    margin-right: 20px;
  }
  

}