/* stylelint-disable selector-class-pattern */
@media screen and (max-width: 320px) {
  body {
    font-size: 16px;
  }

  .container {
    padding: 0 15px;
  }

  /* Header */
  .header {
    height: 75px;
    padding-top: 15px;
  }

  .header__nav {
    display: none;
  }
  
  .theme-switcher {
    width: 30px;
    height: 30px;
  }

  .burger__nav{
    display: block;
    visibility: hidden;
  }

  .burger__header  {
    padding: 30px;
    font-size: 22px;
  }

  .lang-switcher {
    margin-left: 30px;
  }

  /* Main */
  .up-arrow-btn {
    width: 40px;
    height: 40px;
  }

  .first-section {
    grid-template-areas: 
      "heading heading"
      "photo ."
      "text  ."
      "button .";
  }

  .first-section__heading  {
    margin-bottom: 20px;
    font-size: 22px;
  }

  .first-section__paragraph {
    margin-top: 15px;
  }

  .first-section__btn {
    width: 120px;
    height: 50px;
    margin-top: 20px;
  }
    
  .section {
    margin-top: 35px;
  }

  .section__heading {
    margin-bottom: 15px;
    font-size: 20px;
  }

  .education-skills-wrapper {
    grid-template: 
      'education'
      'courses'
      'skills';
  }

  .courses__li:not(:first-child) {
    margin-top: 10px;
  }

  .projects-wrapper {
    grid-gap: 15px;
    grid-template: 
      'project1'
      'project2'
      'project3'
      'project4'
      'project5'
      'project6';
  }

  #projects .section__heading {
    margin-left: 35%;
  }

  .project {
    grid-template: 
      'project-img'
      'project-name'
      'project-techs';
  }

  .project__techs {
    margin-top: 5px;
  }
  
  .code {
    padding: 20px;
  }

  /* Footer */
  .footer {
    height: 170px;
    padding-top: 30px;
    margin-top: 130px;
  }

  .footer__container {
    grid-gap: 30px;
    grid-template: 
      'footer__contacts'
      'footer__copyright';
  }

  .footer__li:not(:last-child) {
    margin-right: 10px;
  }

  .footer__viber-link {
    width: 25px;
    height: 25px;
  }

  .footer__linkedin-link {
    width: 25px;
    height: 26px;
  }
  
  .footer__github-link {
    width: 26px;
    height: 28px;
  }
  
}