/* stylelint-disable selector-class-pattern */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* Header */

  .header__nav {
    display: none;
  }

  /* Main */
  .first-section {
    grid-template-areas: 
    "heading photo"
    "text photo"
    "button photo";
  }

  .first-section__btn {        
    width: 150px;
    height: 60px;
    margin-top: 25px;
    }

    
    .first-section__paragraph {
      margin-top: 15px;
  }
}