/* stylelint-disable selector-class-pattern */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    max-width: 670px;
  }
  /* Header */

  .header__nav {
    display: none;
  }
  
  .burger__nav{
    display: block;
    visibility: hidden;
  }

  .burger__header  {
    padding: 40px 50px;
    font-size: 26px;
  }

  /* Main */
  .first-section {
    grid-template-areas: 
    "heading photo"
    "text photo"
    "button photo";
  }

  .first-section__heading {
    font-size: 30px;
  }

  .first-section__btn {        
    width: 150px;
    height: 60px;
    margin-top: 25px;
    }

    
  .first-section__paragraph {
    margin-top: 15px;
  }
    
    .section {
        margin-top: 45px;
    }

    .education-skills-wrapper {
        grid-template: 
        'education education'
        'courses skills';
    }

    .projects-wrapper {
        grid-template: 
        'project1 project2'
        'project3 project4'
        'project5 project6';
    }   

    
}