/* stylelint-disable selector-class-pattern */
:root {
 --bg-color: #fff;
 --text-color: #104993;
 --main-color: #139FEC;
 --accent-color: #FF2E47;
}

/* Header */
.header {
    border-bottom: solid 5px var(--accent-color);
    background-color: var(--main-color);
    color: var(--bg-color);
}

.burger__header {
    border-bottom: solid 5px var(--accent-color);
    background-color: var(--main-color);
    color: var(--bg-color);
}

.burger__nav {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Main */
.main {
    color: var(--text-color);
}

.up-arrow-btn {
    background: url('../../images/main/up-arrow-icon--light.svg') no-repeat;
    background-size: cover;
}


/* Footer */
.footer {
    border-top: solid 5px var(--accent-color);
    background-color: var(--main-color);
    color: var(--bg-color);
}