@import url('first-section/first-section.css');
@import url('education-skills/education-skills.css');
@import url('projects/projects.css');
@import url('code/code.css');

/* Main */
.up-arrow-btn {
  position: fixed;
  top: 60%;
  right: 5%;
  transition: all 0.3s ease;
}

.up-arrow-btn:hover {
  background: url('../../images/main/up-arrow-icon--hovered.svg')
}