@import url('first-section/first-section.css');
@import url('education-skills/education-skills.css');
@import url('projects/projects.css');
@import url('code/code.css');

/* Main */
.up-arrow-btn {
  position: fixed;
  top: 60%;
  right: 5%;
  background-size: cover;
  opacity: 0;
  transition: all 0.3s ease;
}

@media (pointer:fine) {
  .up-arrow-btn:hover {
    background: url('../../images/main/up-arrow-icon--hovered.svg');
    background-size: cover;
  }
}

.up-arrow-btn:active {
  background: url('../../images/main/up-arrow-icon--hovered.svg');
  background-size: cover;
}

.list-item {
  display: flex;
  align-items: center;
}

.langs li:not(:first-child) {
  margin-top: 5px;
}

.langs span {
  margin-left: 10px;
}

.contacts a {
  display: inline-flex;
}

.contacts li:not(:first-child) {
  margin-top: 15px;
}

.contacts span {
  margin-left: 15px;
}