.up-arrow-btn {
  position: fixed;
  top: 60%;
  right: 5%;
  background-size: cover;
  transition: all 0.3s ease;
  opacity: 0;
}

.up-arrow-btn.visible {
  opacity: 1;
}

@media (pointer:fine) {
  .up-arrow-btn:hover {
    background: url('../../assets/images/main/up-arrow-icon--hovered.svg');
    background-size: cover;
  }
}

.up-arrow-btn:active {
  background: url('../../assets/images/main/up-arrow-icon--hovered.svg');
  background-size: cover;
}

.list-item {
  display: flex;
  align-items: center;
}

.langs li:not(:first-child) {
  margin-top: 5px;
}

.langs span {
  margin-left: 10px;
}

.contacts a {
  display: inline-flex;
  transition: all 0.3s ease;
}

.contacts li:not(:first-child) {
  margin-top: 15px;
}

.contacts span {
  margin-left: 15px;
}

@media (pointer:fine) {
  .contacts a:hover {
    color: var(--main-color);
  }
}