
:root {
  /* Light Colors */
  --bg-color-light: #fff;
  --text-color-light: #104993;
  --main-color-light: #139FEC;
  --accent-color-light: #FF2E47;

  /* Dark Colors */
  --bg-color-dark: #000;
  --text-color-dark: #fff;
  --accent-color-dark: #FF2E47;
}

.body, .header {
  transition: all 0.5s ease;
}

/* Light Theme */
.app--light-theme {
 
  background-color: var(--bg-color-light);
  color: var(--text-color-light);

  
.burger__header--theme-styles {
  border-bottom: solid 5px var(--accent-color-light);
  background-color: var(--main-color-light);
  color: var(--bg-color-light);
}

 
.burger__nav--theme-styles {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}


.up-arrow-btn--theme-styles {
  background: url('../assets/images/main/up-arrow-icon--light.svg') no-repeat;
  background-size: cover;
}

  .header--theme-styles {
    border-bottom: solid 5px var(--accent-color-light);
    background-color: var(--main-color-light);
    color: var(--bg-color-light);
  } 
  @media (pointer:fine) { 
    .project--theme-styles:hover { 
      border-radius: 5px;
      box-shadow: 3px 4px 9px 1.5px var(--text-color-light);
      transition: all 0.5s ease;
    }  
    }  
    .project--theme-styles:active { 
      border-radius: 5px;
      box-shadow: 3px 4px 9px 1.5px var(--text-color-light);
    } 
 
  .footer--theme-styles {
    border-top: solid 5px var(--accent-color-light);
    background-color: var(--main-color-light);
    color: var(--bg-color-light);
  }
}

/* Dark Theme */
.app--dark-theme {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
  
 
.burger__header--theme-styles {
  border-bottom: solid 5px var(--accent-color);
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

.burger__nav--theme-styles {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
} 
 
.up-arrow-btn--theme-styles {
  background: url('../assets/images/main/up-arrow-icon--dark.svg') no-repeat;
  background-size: cover;
}

  .header--theme-styles {
    border: none;
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
  } 

  @media (pointer:fine) { 
    .project--theme-styles:hover { 
      border-radius: 5px;
      box-shadow: 3px 4px 9px 1.5px var(--text-color-dark);
      transition: all 0.5s ease;
    }  
    }  
    .project--theme-styles:active { 
      border-radius: 5px;
      box-shadow: 3px 4px 9px 1.5px var(--text-color-dark);
    } 
   

  .footer--theme-styles {
    border: none;
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
  }
  
}
