
.footer__container {
  display: grid;
}

.footer__copyright {
  grid-area: footer__copyright;
}

.footer__contacts {
  display: flex;
  grid-area: footer__contacts;
}

.footer__link {
  display: inline-block;
}

.footer__viber-link {
  background: url('../../assets/images/footer/viber-icon.svg');
  background-size: cover;
}

.footer__linkedin-link {
  background: url('../../assets/images/footer/linkedin-icon.svg');
  background-size: cover;
}

.footer__github-link {
  background: url('../../assets/images/footer/github-icon.svg');
  background-size: cover;
}

@media (pointer:fine) {  
.footer__link {
  transition: all 0.3s ease;
}

.footer__viber-link:hover {
  background: url('../../assets/images/footer/viber-icon--hovered.svg');
  background-size: cover;
}

.footer__linkedin-link:hover {
  background: url('../../assets/images/footer/linkedin-icon--hovered.svg');
  background-size: cover;
}

.footer__github-link:hover {
  background: url('../../assets/images/footer/github-icon--hovered.svg');
  background-size: cover;
}

}


.footer__viber-link:active {
  background: url('../../assets/images/footer/viber-icon--hovered.svg');
  background-size: cover;
}

.footer__linkedin-link:active {
  background: url('../../assets/images/footer/linkedin-icon--hovered.svg');
  background-size: cover;
}

.footer__github-link:active {
  background: url('../../assets/images/footer/github-icon--hovered.svg');
  background-size: cover;
}
