/* stylelint-disable selector-class-pattern */

/* Education&Skills */
.education-skills-wrapper {
  display: grid;
}

.bullet-img {
  display: inline-block;
}

.bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 50%;
  margin: 10px;
  background-color: var(--accent-color);
}


.education {
  grid-area: education;
}


.ed-li:not(:last-child) {
  margin-bottom: 15px;
}

.ed-li span {
  margin-left: 10px;
}

/* Courses */
.courses {
  grid-area: courses;
}

.courses__li {
  display: grid;
  grid-template-columns: 0.75fr 2fr;
  line-height: 125%;
}

.courses__li:not(:last-child) {
  margin-bottom: 20px;
}

.courses__paragraph {
  display: inline-block;
}

/* Skills */
.skills {
  grid-area: skills;
}

.skills__li--icon:not(:first-child) {
  margin-top: 15px;
}

.skills__li--icon span {
  margin-left: 10px;
}

.skills__li--bullet {
  margin-top: 10px;
}
